# Скомпилированные объектные файлы
*.slo
*.lo
*.o
*.obj

# Скомпилированные динамические библиотеки
*.so
*.dylib
*.dll

# Скомпилированные статические библиотеки
*.lai
*.la
*.a
*.lib

# Qt-specific
*.pro.user
*.pro.user.*
*.qmake.stash
*.moc
*.rcc
*.qrc

# Сгенерированные файлы пользовательского интерфейса
*-ui.h
*-ui.cpp

# Сгенерированные MOC-файлы
*moc_*.cpp

# Сгенерированные файлы ресурсов
*.qrc.cpp
*.qrc_*.cpp

# Игнорировать каталоги и файлы сборки
build/
dist/
.vscode